USE [master]
GO
/****** Object:  Database [InterviewTestDB]    Script Date: 07/09/2017 10:47:42 ******/
CREATE DATABASE [InterviewTestDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InterviewTestDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\InterviewTestDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'InterviewTestDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\InterviewTestDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InterviewTestDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InterviewTestDB]
GO
/****** Object:  Table [dbo].[InsertDataTable]    Script Date: 07/09/2017 10:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InsertDataTable](
	[Date] [int] NULL,
	[Price] [decimal](18, 8) NULL,
	[Value] [decimal](18, 8) NULL
) ON [PRIMARY]

GO
USE [master]
GO
