<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
 <appSettings>
    <add key="ExcelFile" value="C:\temp\Interviews\ExcelFolder\ExceltestFile.xlsx" />
  </appSettings>
  <connectionStrings>
    <add name="DBConnection" connectionString="Data source=.;Initial Catalog=InterviewTestDB;Connect Timeout=600;Integrated Security=True;Application Name=InterviewTestDB;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>